.menu {
    .loading {
      font-size: 40px;
    }
    width: 100%;
    min-height: 70vh;
     .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

     
      li {
        list-style: none;
      }

      .card {
        position: relative;
        width: 250px;
        height: 300px;
        background-color: #fff;
        border-radius: 10px;
        margin: 20px;
        transition: all .8s ease;
        &:hover{
          transform: scale(1.05);
        }
        .image-container img {
          margin: 20px;
          width: 66px;
         
        }
        .text-container {
          position: absolute;
          left: 0;
          bottom: 0;
          max-width: 100%;
          text-align: left;  
          margin-left: 10px;  
          margin-bottom: 10px;      

          p, div, h3 {
            margin: 0;
          }
          h3 {
            font-size: 16px;
            font-weight: 100;
            margin-bottom: 5px;
            
          }
          .content {
            display: flex;
            flex-direction: row;
            font-size: 10px;
           .price {
             margin-right: 10px;
           }
          }
          .description {
            margin-top: 10px;
            font-size: 12px;
          }
        }
      }
     }
  }